<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="Ace of Spades server list"/>
<meta http-equiv="content-language" content="en"/>
<title>Ace of Spades server list</title>
<link rel="stylesheet" type="text/css" href="style.css" />

</head>
<body>
<div id="container">
<div id="content"><a  id="header" href="http://code.google.com/p/pyspades">
<img src="http://code.google.com/p/pyspades/logo?cct=1307536279"/>
<h1>pyspades server list</h1></a>

<table>
<tbody>
<tr>
<td>pyspades</td>
<td>slots</td>
<td>ping</td>
<td>server</td>
<td>address</td>
</tr>
{% for server in servers %}
    <tr>
    <td>{{['No', 'Yes'][(server.ip in has_pyspades)|int]}}</td>
    <td>{{server.players}}/{{server.max}}</td>
    <td>{{server.ping}}</td>
    <td><a href="aos://{{make_server_number(server.ip)}}">{{server.name}}</a></td>
    <td>aos://{{make_server_number(server.ip)}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{{(has_pyspades|length * 100.0 / servers|length)|int}}% of servers are using pyspades.
</br>
</br>
Certified servers:
{% for server in protocol.statistics.connections %}
    </br><a href="aos://{{make_server_number(server.transport.getPeer().host)}}">{{server.name}}</a>
{% endfor %}
</br>
</br>
Top 10 highscore list:
<table>
<tbody>
<tr>
<td>name</td>
<td>kills</td>
<td>deaths</td>
<td>ratio</td>
</tr>
{% for player in protocol.get_highscores()[:10] %}
    <tr>
    <td>{{player[0]}}</td>
    <td>{{player[1]['kills']}}</td>
    <td>{{player[1]['deaths']}}</td>
    <td>{{player[1]['kills'] / (player[1]['deaths'] or 1)}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</body>
</html>