### A general python module specific ###
# Git
.git
.gitignore
.github
.gitattributes

# CI
.codeclimate.yml
.travis.yml

# Docker
docker-compose.yml
.docker

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage.*
.coverage
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
**/*.mo
**/*.pot

# Django stuff:
**/*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Virtual environment
.env/
env/
.venv/
venv/

# PyCharm
.idea

# Python mode for VIM
**/.ropeproject

# Vim swap files
**/*.swp


### pyspades specific ###
pyspades/bytes.cpp
pyspades/common.cpp
pyspades/contained.cpp
pyspades/loaders.cpp
pyspades/mapmaker.cpp
pyspades/packet.cpp
pyspades/vxl.cpp
pyspades/world.cpp
enet/enet.c

# C extensions
**/*.so

# C++ extension
**/*.slo
**/*.lo
**/*.o

**/*.so
**/*.dylib

**/*.lai
**/*.la
**/*.a

# py2exe
py2exe/dist/
py2exe/*.zip

# native binaries directories
build/
enet/build/


### Misc ###
README.md
Dockerfile
db.sqlite3