# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{json,yml,yaml,gitignore,md,py,html,js,css,cpp,pxd,pyx,h,txt,cfg,bat,ps1}]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml,gitignore,md,py,html,js,css,cpp,pxd,pyx,h,txt,cfg}]
end_of_line = lf

[*.{yml,yaml}]
indent_size = 2

[*.{bat,ps1}]
end_of_line = crlf

[*.{py,pyx,pxd}]
max_line_length = 80


# Tab indentation for makefiles
[Makefile]
indent_style = tab
