# core
Cython>=0.27,<1
Twisted[tls]
Jinja2>=2,<3
pyenet
toml
pypng==0.0.19
aiohttp>=3.3.0,<3.6.0
packaging>=19.0

# from command
geoip2>=2.9,<3.0

# windows specific
pypiwin32; platform_system=="Windows"
