# core
Cython>=0.27,<1
Twisted[tls]>=17
Jinja2>=2,<3
Pillow>=5.1.0,<6
pyenet
typing
toml
timeparse-plus

# from command
pygeoip>=0.3.2,<0.4

# ssh
cryptography
pyasn1

# windows specific
pypiwin32; platform_system=="Windows"